app.env={{ app_env }}
spring.datasource.oracle.url={{ spring_datasource_oracle_url }}
spring.datasource.oracle.password={{ spring_datasource_oracle_password }}
spring.datasource.microsoft.url={{ spring_datasource_microsoft_url }}
ftp.host={{ ftp_host }}
ftp.user={{ ftp_user }}
ftp.directory={{ ftp_directory }}
email.envelope.to.errors=StyledWithErrors@jcrew.com
email.envelope.to.core=StyledWithCore@jcrew.com
